body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #276fab;  
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #0b3d91; 
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #276fab ; 
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #276fab;
    color: white;
}

button {
    background-color: #276fab;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b3d91;
}

hr {
    border: none;
    height: 2px;
    background-color: #1666a7;
    width: 80%;
    margin: 20px auto;
}

footer {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 10px;
}
